.big-input {
  width: 100%;
  transition: all 0.5s;
  display: flex;
  padding: 1px 1px 1px 2px;
  display: flex;

  input {
    flex-grow: 1;
    border: 0;
    font-size: 16px;
    max-width: 50px;
  }
}